aside {
  flex-direction: column;
  display: flex;

  width: 100%;
}

.aside-end {
  width: 20vw;
  height: 100vh;
  display: flex;
  margin: 20px;
  background-color: #e9dac1;
  justify-content: flex-end !important;
}
