aside{
    flex-direction: column;
    display: flex;
    
   
   width: 100%;
}

.aside-end{
    width: 20vw;
    height:90vh;
    background-color:#E9DAC1;
    justify-content: flex-end!important;
}